{% extends "stocksapp/base.html" %}


{% block content %}

<div class="jumbotron jumbotron-fluid home-style">
  <div class="container">
    <h1 class="display-3">Water Island Capital, LLC</h1>
    <p class="lead">Thank you for using Water Island Capital's Portfolio Manager.</p>
    <p class="lead">You can use the Web application to create your custom portfolio for performance analysis</p>
    <p class="lead">You can also compare companies and view live stock prices!</p>
  </div>
</div>


{% endblock %}